<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/static/images/icon.jpg">
  <!-- Bootstrap CSS -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

  </style>
  {% block extracss %}

  {% endblock extracss %}

  <title>CPUB</title>
</head>

<body>
  <div class="bg container">
    <div class="row">
      <div class="col-12" style="text-align: center;">
        <h1>
          CPUB
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="text-align: center;">
        <p class="lead">Control Policial del Uso de Bicicleta</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="/">
          <img src="/static/images/logo_policia_nacional.png" width="140" height="105">
        </a>
      </div>
    </div>
    <hr>

    {% block content %}

    {% endblock content %}

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='sw.js') }}"></script> -->
  <script>
    (function () {
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js')
            .then(function (registration) {
              console.log('Service Worker Registered');
              return registration;
            })
            .catch(function (err) {
              console.error('Unable to register service worker.', err);
            });
          navigator.serviceWorker.ready.then(function (registration) {
            console.log('Service Worker Ready');
          });
        });
      }
    })();

    // let deferredPrompt;
    // // const btnAdd = document.querySelector('#btnAdd');

    // window.addEventListener('beforeinstallprompt', (e) => {
    //   // console.log('beforeinstallprompt event fired');
    //   deferredPrompt = e;
    //   deferredPrompt.prompt();
    //   deferredPrompt.userChoice
    //     .then((choiceResult) => {
    //       if (choiceResult.outcome === 'accepted') {
    //         console.log('User accepted the A2HS prompt');
    //       } else {
    //         console.log('User dismissed the A2HS prompt');
    //       }
    //       deferredPrompt = null;
    //     });

    //   // e.preventDefault();
    //   // btnAdd.style.visibility = 'visible';
    // });

    // btnAdd.addEventListener('click', (e) => {
    //   btnAdd.style.visibility = 'hidden';
    //   deferredPrompt.prompt();
    //   deferredPrompt.userChoice
    //     .then((choiceResult) => {
    //       if (choiceResult.outcome === 'accepted') {
    //         console.log('User accepted the A2HS prompt');
    //       } else {
    //         console.log('User dismissed the A2HS prompt');
    //       }
    //       deferredPrompt = null;
    //     });
    // });

    window.addEventListener('appinstalled', (evt) => {
      app.logEvent('app', 'installed');
    });
  </script>

  {% block extrajs %}

  {% endblock extrajs %}

</body>

</html>