{% extends 'base.html' %}


{% block extracss %}
<link rel="stylesheet" href="static/css/style.css">  
{% endblock extracss %}
  

{% block content %}
<div class="row">
  <div class="col-md-4 col-12" style="text-align: center;">
    INGRESE EL NÚMERO SERIAL A CONSULTAR:
  </div>
  <div class="col-md-4">
    <input type="text" name="serial" id="serial" class="form-control">
  </div>
  <div class="col-md-3 col-12">
    <button class="btn btn-info w-100" id="consultar"> CONSULTAR</button>
  </div>
</div>

<br>
<div class="row d-none" id="table-info">
  <div class="col-md-12 ">
    <table class="table table-responsive table-striped">
      <thead class="thead-light">
        <tr>
          <th>
            Numero Serial
          </th>
          <th>
            Marca
          </th>
          <th>
            Modelo
          </th>
          <th>
            Color
          </th>
          <th>
            Antecedentes
          </th>
          <th>
            Documento Propietario
          </th>
          <th>
            Nombre Propietario
          </th>
          <th>
            Telefono Propietario
          </th>
          <th>
            Email Propietario
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="serial_table">

          </td>
          <td id="marca">

          </td>
          <td id="modelo">

          </td>
          <td id="color">

          </td>
          <td id="antecedentes">

          </td>
          <td id="documento">

          </td>
          <td id="nombre">

          </td>
          <td id="telefono">

          </td>
          <td id="email">

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}



{% block extrajs %}
<script>
  function consultarSerial() {

    var serial = $("#serial").val();
    if (serial == "") {
      $("#table-info").addClass("d-none");
      Swal.fire({
        type: 'error',
        title: 'Error',
        text: 'Ingrese un numero serial a consultar',
      })
    } else {
      $.ajax({
        type: "POST",
        url: 'ws/consulta',
        data: {
          serial: serial
        },
        success: function (response) {
          var jsonData = JSON.parse(response);
          console.log(jsonData)
          if (jsonData.registra) {
            $("#serial_table").text(jsonData.bicicleta.serial)
            $("#marca").text(jsonData.bicicleta.marca)
            $("#modelo").text(jsonData.bicicleta.modelo)
            $("#color").text(jsonData.bicicleta.color)
            $("#documento").text(jsonData.bicicleta.documento)
            $("#nombre").text(jsonData.bicicleta.nombre)
            $("#telefono").text(jsonData.bicicleta.telefono)
            $("#email").text(jsonData.bicicleta.email)
            if (jsonData.bicicleta.antecedentes.length == 0) {
              $("#antecedentes").text("NO REGISTRA")
            } else {
              var html_text = "<ul>"
              for (let i = 0; i < jsonData.bicicleta.antecedentes.length; i++) {
                const element = jsonData.bicicleta.antecedentes[i];
                html_text += "<li type='disc'>" + element + "</li>"
              }
              html_text += "</ul>"
              $("#antecedentes").html(html_text)
            }
            $("#table-info").removeClass("d-none");
            Swal.fire({
              type: 'success',
              title: 'Exito',
              text: 'Serial encontrado',
              timer: 900,
              showConfirmButton: false,

            })
          } else {
            $("#table-info").addClass("d-none");
            Swal.fire({
              type: 'error',
              title: 'Serial no encontrado',
              text: 'El serial ' + serial + ' no se encuentra registado en la base de datos',
            })
          }

        },
        error: function (response) {
          console.log(response);
        }
      });

    }

  }
  $("#consultar").click(consultarSerial);
  $("#serial").on('keyup', function (e) {
    if (e.keyCode === 13) {
      consultarSerial()
    }
  });
</script>
{% endblock extrajs %}