{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/style.css">  
{% endblock extracss %}


{% block content %}
{% if  bicicleta%}
<div class="row">
  <div class="col-md-12 alert alert-success">
    BICICLETA REGISTRADA CORRECTAMENTE
  </div>
</div>

<div class="row" id="table-info">
  <div class="col-md-12 ">

    <table class="table table-responsive table-striped">
      <thead class="thead-light">
        <tr>
          <th>
            Numero Serial
          </th>
          <th>
            Marca
          </th>
          <th>
            Modelo
          </th>
          <th>
            Color
          </th>
          <th>
            Antecedentes
          </th>
          <th>
            Documento Propietario
          </th>
          <th>
            Nombre Propietario
          </th>
          <th>
            Telefono Propietario
          </th>
          <th>
            Email Propietario
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ bicicleta.serial }}
          </td>
          <td>
            {{ bicicleta.marca }}
          </td>
          <td>
            {{ bicicleta.modelo }}
          </td>
          <td>
            {{ bicicleta.color }}
          </td>
          <td>

            {% if bicicleta.antecedentes %}
            <ul>
              {% for antecedente in bicicleta.antecedentes %}
              <li type="disc">{{antecedente}}</li>
              {% endfor %}
            </ul>
            {% else %}
            No registra
            {% endif %}

          </td>
          <td>
            {{bicicleta.documento}}
          </td>
          <td>
            {{bicicleta.nombre}}
          </td>
          <td>
            {{bicicleta.telefono}}
          </td>
          <td>
            {{bicicleta.email}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% else %}
<div class="row">
  <div class="col-md-12 alert alert-warning">
    NO SE ENCUENTRA BICICLETA REGISTRADA CON ESE SERIAL
  </div>
</div>
{% endif %}

{% endblock content %}
  