{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/style.css">  
{% endblock extracss %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-1">
    <a href="/registro">
      <div class="card"style="background-color: #c0f1f5 !important;">
        <img class="card-img-top pt-1" src="static/images/bici.gif" style="width:70% !important" height="120">
        <div class="card-body">
          <h5 class="card-title">Registrar Bicicleta</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 offset-md-1">
    <a href="/consulta">
      <div class="card bg-info">
        <img class="card-img-top pt-3" src="static/images/lupa.png" style="width:80px !important" height="120"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Consultar Bicicleta</h5>
        </div>
      </div>
    </a>

  </div>
</div>
{% endblock content %}
