{% extends 'base.html' %}


{% block extracss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    .btn {
        border: 2px solid rgba(240, 173, 78, 0.75);
    }

    body {
        /* Aquí el origen de la imagen */
        background-image: url("static/images/fondo.jpg");

        /* Fijar la imagen de fondo este vertical y
  horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;

        /* Damos un color de fondo mientras la imagen está cargando  */
        background-color: #464646;
    }

    @media only screen and (max-width: 767px) {
        body {
            background-image: url("static/images/fondo.jpg");
        }
    }

    body {
        font-family: Verdana;
        font-family: 'PT Sans';
        /* Otro ejemplo */
    }

    .form-box {
        border: ridge;
        padding: 10px;
        margin-left: 6px;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: block;
        margin: auto;
    }
</style>
{% endblock extracss %}



{% block content %}

{% if bicicletas %}
<br>
<div class="row" id="table-info">
    <div class="col-md-12 ">
        <table id="table_id" class="table datatable table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>
                        Numero Serial
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Antecedentes
                    </th>
                    <th>
                        Documento Propietario
                    </th>
                    <th>
                        Nombre Propietario
                    </th>
                    <th>
                        Telefono Propietario
                    </th>
                    <th>
                        Email Propietario
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for bicicleta in bicicletas %}
                <tr>
                    <td id="serial_table">
                        {{bicicleta.serial}}
                    </td>
                    <td id="marca">
                        {{bicicleta.marca}}
                    </td>
                    <td id="modelo">
                        {{bicicleta.modelo}}
                    </td>
                    <td id="color">
                        {{bicicleta.color}}
                    </td>
                    <td id="antecedentes">

                        {% if bicicleta.antecedentes %}
                        <ul>
                            {% for antecedente in bicicleta.antecedentes %}
                            <li type="disc">{{antecedente}}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        No registra
                        {% endif %}

                    </td>
                    <td id="documento">
                        {{bicicleta.documento}}
                    </td>
                    <td id="nombre">
                        {{bicicleta.nombre}}
                    </td>
                    <td id="telefono">
                        {{bicicleta.telefono}}
                    </td>
                    <td id="email">
                        {{bicicleta.email}}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            NO HAY BICICLETAS REGISTRADAS
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}


{% block extrajs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
</script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
{% endblock extrajs %}