{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="static/css/style.css">  
{% endblock extracss %}

{% block content %}
<form action="/registro" method="POST" class="needs-validation" novalidate id="formData">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <h4>DATOS DE LA BICICLETA</h4>
      <div class="form-box">
        <div class="form-group">
          <label for="exampleFormControlInput1">Numero Serial</label>
          <input required type="text" class="form-control" id="serial" placeholder="AAA-999">
          <div class="invalid-feedback">
            Ingrese un número serial
          </div>
        </div>
        <div class="form-group">
          <label for="e">Marca</label>
          <input required type="text" class="form-control" id="marca" placeholder="Marca">
          <div class="invalid-feedback">Registre una marca de bicicleta</div>
        </div>
        <div class="form-group">
          <label for="e">Modelo</label>
          <input required type="text" class="form-control" id="modelo" placeholder="Modelo">
          <div class="invalid-feedback">Registre el modelo de la bicicleta</div>
        </div>
        <div class="form-group">
          <label for="e">Color</label>
          <input required type="text" class="form-control" id="color" placeholder="Color">
          <div class="invalid-feedback">Registre el color de la bicicleta</div>
        </div>
      </div>
    </div>

    <div class="col-md-5 ">
      <h4>DATOS DEL PROPIETARIO</h4>
      <div class="form-box">
        <div class="form-group">
          <label for="e">Documento de Identidad</label>
          <input required type="number" class="form-control" id="documento" placeholder="000000000">
          <div class="invalid-feedback">Registre el documento de identidad del propietario de la bicicleta</div>

        </div>
        <div class="form-group">
          <label for="e">Nombre Completo</label>
          <input required type="texto" class="form-control" id="nombre" placeholder="Ingrese nombre completo">
          <div class="invalid-feedback">Registre el nombre completo del propietario de la bicicleta</div>
        </div>
        <div class="form-group">
          <label for="e">Telefono</label>
          <input required type="number" class="form-control" id="telefono" placeholder="3000000000">
          <div class="invalid-feedback">Registre el telefono del propietario de la bicicleta</div>
        </div>
        <label for="email">Email</label>
        <input required type="email" class="form-control" id="email" placeholder="name@example.com">
        <div class="invalid-feedback">Registre el correo electrónico del propietario de la bicicleta</div>
      </div>
    </div>
  </div>
  <br>
  <div class="form-footer inline-block">
    <div class="row ">
      <div class="col-md-5 offset-md-1">
        <a href="/inicio" class="btn bg-warning btn-block">Atrás</a>
      </div>
      <div class="col-md-5">
        <button class="btn bg-success btn-block" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}



{% block extrajs %}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  function formData() {
    return {
      serial: $("#serial").val().trim(),
      marca: $("#marca").val().trim(),
      modelo: $("#modelo").val().trim(),
      color: $("#color").val().trim(),
      documento: $("#documento").val().trim(),
      nombre: $("#nombre").val().trim(),
      telefono: $("#telefono").val().trim(),
      email: $("#email").val().trim(),
    }
  }

  $('#formData').submit(function (e) {
    e.preventDefault();
    e.stopPropagation();
    if (this.checkValidity()) {
      $.ajax({
        type: "POST",
        url: 'ws/registro',
        data: formData(),
        success: function (response) {
          var jsonData = JSON.parse(response);
          console.log(jsonData)
          Swal.fire({
            type: jsonData.type,
            title: jsonData.title,
            text: jsonData.mensaje,
          }).then((result) => {
            if (result.value) {
              if (jsonData.type == "success") {
                location.href = "/detalle/" + $("#serial").val().trim();
              }
            }
          })
        },
        error: function (response) {
          console.log(response);
        }
      });
    } else {
      Swal.fire({
        type: 'warning',
        title: 'Error de Validación',
        text: 'Compruebe los datos del formulario',
      })
    }
  });
</script>
{% endblock extrajs %}
